<a href="https://colab.research.google.com/github/ltfy4/Freshstart/blob/master/StringandNumberFormatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("I like {1},{2},{0}".format("apple","orange","banana"))

I like orange,banana,apple

In [ ]:
result = 100/777

float formatting follows "**{value:width.precision f}**"  

width --> is how much space you want between string and value
I tried without f and it works as well

In [ ]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [ ]:
name = "Lutfiye"

In [ ]:
print(f"My name is {name}")

My name is Lutfiye

In [ ]:
name = "Ali"
age = 5

In [ ]:
print(f"{name} is {age} years old.")

Ali is 5 years old.